.container-fluid{
    padding:15px 0 15px 10px ;
    background-color:rgb(249, 252, 255);
    // box-shadow: 10px 10px 5px 0px rgba(128,133,138,1);

    // border-radius: 2%;
  
}

.container-book{
    box-shadow: 5px 5px 3px 0px rgb(86, 87, 88);
    height: 400px;
    width: 900px;
}
.vehicle-card{
    box-shadow: 4px 4px 3px 0px rgb(87, 87, 88);
    border-radius: 2%;
    width: 100%;
    height: 95%;
  
 
  

}
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #3c49f6;
    background: linear-gradient(#264ddb 0%, #2257d2 100%);
    box-shadow: 0 3px 6px 1px rgb(16, 0, 0);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }

  .car-image {
    // max-height: 50%;
    // max-width: 50%;
  /* Make the image a block element */
    margin: auto;
  
    background-position: center;
    background-size: cover;
    // background-attachment: fixed;


  }