<div class="container-fluid">
  <div class="d-flex flex-row mb-2 justify-content-evenly mt-4">
    <mat-card class="example" layout="row" layout-align="center center" >
            
      <mat-card-content>
    
             
                <h2>Contact US</h2>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      
                      </mat-form-field>
                </p>
               <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>mail</mat-icon>
                  </mat-form-field>
               </p>
                
            <mat-form-field appearance="outline">
                <mat-label>Phone no</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>
              <p>
              <button type="submit" mat-flat-button mat-dialog-close 
              color="primary">Send Message</button>
            </p>
  
    
   
          <div class="p-2">

            <img src="assets/images/about1.png" class="d-block " style="height: 400px;width: 570px;">
           

        </div>
      </mat-card-content>
           
    </mat-card>

    </div>
  </div>
