.icon-display {
    font-size: 90px;
    height: 90px ;
    width: 90px;
    justify-content: center;
    border: solid 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 0px rgb(102, 103, 105);
  }
  .example-full-width{
    width: 90%;
  }
//   .container-fluid{
//     // background-color: ;
//     box-shadow: 5px 5px 3px 0px rgb(33, 104, 174);
//     border-radius: 2%;

//   }