
<!-- <div class="container">
  <div class="row mt-5">
    <div class="col col-md-6 offset-md-3 col-lg-6 offset-lg-3 ">
      <mat-card class= "mat-card mx-5">
        <div class="row">
          <div class="col text-center"><br>
              <img avatar [src]="(user.gender == 'Male') ? 'assets/images/male_user.png' : 'assets/images/female_user.png' " alt=""
              style="height:120px; width: 120px; border: 2px solid green; border-radius: 50%; margin-top: -80px;">
              <h3>{{user.fullName}}</h3>
              <br></div>
      </div>
        <div class="row mx-5">
          <form >
            <div class="row">
              <div class="row">
                <div class="col">
                  <mat-form-field class="outline w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                      <input type="email" matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
                    <mat-icon matSuffix style="color: #3369f4 ">email</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="outline w-100" appearance="outline">
                    <mat-label>Password</mat-label>
                      <input type="password" matInput placeholder="password" [(ngModel)]="user.password" name="password" required>
                    <mat-icon matSuffix style="color: #3369f4 ">password</mat-icon>
                  </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="outline w-100" appearance="outline">
                    <mat-label> Confirm Password</mat-label>
                      <input type="password" matInput placeholder="confirm password" [(ngModel)]="user.password" name="password" required>
                    <mat-icon matSuffix style="color: #3369f4 ">password</mat-icon>
                  </mat-form-field>
                  </div>
              </div>
                
              <div class="row">
                <div class="col">
                  <button type="submit" mat-flat-button mat-dialog-close 
                  color="primary">Submit</button>
                </div>
              </div>
             
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div> -->

<div class="conatainer overflow-x-hidden p-3">
  <div class="row justify-item-center mt-5">
    <div class="col-md-4 offset-md-4 col-lg-6 offset-lg-3">
      <mat-card style="overflow: hidden; border-radius: 8px;">
        <div class="row" style="min-height: 56vh;">
          <div class="col-3 text-center text-white custom-bg">
            <div class="row mt-5">
              <div class="col text-center">
                  <img avatar [src]="(user.gender == 'Male') ? 'assets/images/male_user.png' : 'assets/images/female_user.png' " alt=""
                  style="height:120px; width: 120px; border: 2px solid green; border-radius: 50%;">
                  <h3>{{user.fullName}}</h3>
                  </div>
          </div>
          </div>
          <div class="col">
            <div class="row mt-2">
              <div class="col text-center">
                <h2>Profile Setting</h2>
                <hr class="my-2"/>
              </div>
            </div>
            <form >
              <div class="row mt-2">
                <div class="row">
                  <div class="col">
                    <mat-form-field class="outline w-100" appearance="outline">
                      <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
                      <mat-icon matSuffix style="color: #3369f4 ">email</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="outline w-100" appearance="outline">
                      <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="password" [(ngModel)]="user.password" name="password" required>
                      <mat-icon matSuffix style="color: #3369f4 ">password</mat-icon>
                    </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="outline w-100" appearance="outline">
                      <mat-label> Confirm Password</mat-label>
                        <input type="password" matInput placeholder="confirm password" [(ngModel)]="user.password" name="password" required>
                      <mat-icon matSuffix style="color: #3369f4 ">password</mat-icon>
                    </mat-form-field>
                    </div>
                </div>
                  
                <div class="row">
                  <div class="col text-center">
                    <button type="submit" mat-raised-button mat-dialog-close 
                    color="primary">Submit</button>
                  </div>
                </div>
               
              </div>
            </form>
            <div *ngIf="submitted">
              <h3>Submitted Data:</h3>
              <p>Email: {{ formData.name }}</p>
              <p>Password: {{ formData.password }}</p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>