<!-- <div class="container">
  <div class="row">
    <section class="">
      <div class="container py-5 h-100">
        <div class="row-d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-6 mb-4 mb-lb-0">
            <div class="card mb-3 shadow" style="border-radius: .7rem;">
<div class="row g-0">
  <div class="col-md-4 custombg-gradient text-center text-white" style="border-top-left-radius:.5rem ;">
    <img src="assets/images/female_user.png" alt="Avtar" class="img-fluid my-5" style="width: 80px;"/>

  </div>
<div class="col-md-8">
<div class="card-body p-4">
  <h5>Profile</h5>
  <hr class="mt-0 mb-4 primary">
  <div class="row pt-1">
 <div class="col-6 mb-3">
  <h5>Email</h5>
  <p class="text-muted">{{}}</p>

 </div>
 <div class="col-6 mb-3">
  <h5>Employee</h5>
  <p class="text-muted">{{}}</p>
</div>
<div class="row pt-1">
  <div class="col-6 mb-3">
    <h5> firstName</h5>
    <p class="text-muted">{{}}</p>

  </div>
  <div class="col-6 mb-3">
    <h5> lastName</h5>
    <p class="text-muted">{{}}</p>

  </div>
</div>
<div class="row">
  <div class="col text-center">
    <button
              mat-raised-button color="primary" (click)="">
               > Change Password?</button>
  </div>
  <div class="col text-center">
    <button
              mat-raised-button color="primary" (click)="">
               > Confirm Password?</button>
  </div>
  </div>

</div>
</div>
</div>

            </div>

          </div>
        </div>
      </div>
    </section>

  </div>
</div> -->