.example-spacer {
    flex: 1 1 auto;
    background: rgb(4, 4, 4);
text-align: center;
  }
  .nav{
    background: rgb(4, 4, 4);
  }
  // .button{
  //   background: rgb(4, 4, 4);
  // }
  .example-form-field{
    border-radius: 20%;
  }
  .input-group{
    text-align: center;
  }
